Django==6.0.2
django-cors-headers==4.9.0
django-jazzmin==3.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.14
python-dotenv==1.2.1
pytz==2025.2
sqlparse==0.5.5
PyYAML==6.0.3
reportlab==4.4.6
xlsxwriter==3.2.9
groq
gunicorn
psycopg2-binary
dj-database-url
whitenoise
