asgiref==3.11.1
cffi==2.0.0
cryptography==46.0.5
Django==5.2.11
django-encrypted-model-fields==0.6.5
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
dj-database-url==2.3.0
django-jazzmin==3.0.1
django-cors-headers==4.7.0
drf-yasg==1.21.10
drf-spectacular==0.28.0
psycopg2-binary==2.9.10
gunicorn==23.0.0
whitenoise==6.9.0
python-dotenv==1.1.0
pycparser==3.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
groq